{% extends "base1.html" %}

{% block main %}
<form action="forgot-password" method="POST">
    {% csrf_token %}
    <h1>Forgot password</h1>
    <input type="text" placeholder="Email or username" title="Enter your email or username" autofocus required
        autocomplete="off" id="username" name="username" onchange="if (this.value===''){submit.disabled=true}else{submit.disabled=false}">
    <button type="submit" id="submit" disabled onclick="return confirm('Send OTP to registered email ID ?')">Next</button>
</form>

<div>
    <p>
        Already have an account?
        <a onclick="history.back()">Log in</a>
    </p>
    <hr>
    <p>
        Don't have an account?
        <a href="signup">Sign up</a>
    </p>
</div>
{% endblock main %}

{% comment %} <div class="popup">
    <p>Check your inbox for instructions to reset password.</p>
</div> {% endcomment %}

